---
repositoryUrl: https://github.com/Newbook-PMS/nginx-unit_exporter
verifyConditions: ['@semantic-release/github']
prepare: []
publish: ['@semantic-release/github']
success: ['@semantic-release/github']
fail: ['@semantic-release/github']
